<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
</head>
<body>
    <h1>heading</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing
         elit. Temporibus cumque tempora aperiam dolorum recusandae, ea
          molestias excepturi harum velit sequi ut eligendi distinctio,
           sapiente voluptates dignissimos iusto nihil! Quisquam, perferendis!</p>

</body>
</html>